[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
[submodule "public"]
	path = public
	url = git@github.com:Puzzathlon/puzzathlon.github.io.git
	branch = master
